<div class="container">
  <div class="map-column">
    <div class="svg-container" #svgContainer>
    </div>
  </div>
  
  <div class="info-column">
    <h1>Country Information</h1>
    <div *ngIf="selectedCountryDetails">
      <strong>{{ selectedCountryDetails.name }}</strong>
      <p>Capital: {{ selectedCountryDetails.capitalCity }}</p>
      <p>Region: {{ selectedCountryDetails.region }}</p>
      <p>Income Level: {{ selectedCountryDetails.incomeLevel }}</p>
      <p>Longitude: {{ selectedCountryDetails.longitude }}</p>
      <p>Latitude: {{ selectedCountryDetails.latitude }}</p>
    </div>
    <ul>
      <li *ngFor="let country of countryInfo">
        <strong>{{ country.name }}</strong>: 
        Capital - {{ country.capitalCity }}, 
        Region - {{ country.region }}, 
        Income Level - {{ country.incomeLevel }}, 
        Longitude - {{ country.longitude }}, 
        Latitude - {{ country.latitude }}
      </li>
    </ul>
  </div>
</div>
